@import '../../../src/_var'

.main-dashboard-page
    display: flex
    gap: 3rem
    height: auto

    .GraficosContainer
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        width: auto

        .GraficoContainerTimestamp,.Grafico-Container-Temperatura
            display: flex
            flex-direction: column
            align-items: center
            width: 100%

            .title-container-grafico
                font-weight: 400
                color: $text-button-color
                font-size: 2.5rem


    .container
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center
        padding: 1rem
        padding-left: 3rem 
        width: 100%
        gap: 1rem

        .top-container
            display: flex
            align-items: center
            justify-content: space-between
            width: 100%

            .title-container-card
                font-weight: 400
                color: $text-button-color
                font-size: 2.5rem

            .options
                display: flex
                gap: 1rem     

                .btn-dashboard 
                    display: flex
                    position: relative
                    gap: 1rem
                    justify-content: center
                    align-items: center
                    cursor: pointer
                    background-color: #042D51
                    color: #fff
                    border-style: none
                    padding: 0.6rem
                    overflow: hidden
                    z-index: 1
                    box-shadow: 4px 8px 10px -3px rgba(0, 0, 0, 0.356)
                    transition: all 250ms

                    .span-btn-import
                        font-weight: 400
                        font-size: 0.9rem
                
                .btn-dashboard input[type="file"] 
                    position: absolute
                    width: 100%
                    height: 100%
                    opacity: 0
                    cursor: pointer
            
                .btn-dashboard::before 
                    content: ""
                    position: absolute
                    height: 100%
                    width: 0
                    background-color:#1A4265
                    z-index: -1
                    transition: all 350ms
                
                .btn-dashboard:hover::before 
                    width: 100%

        .container-cards-dashboard
            display: flex
            width: 100%
            justify-content: space-between
            gap: 1rem
            

            .card
                padding: 1rem
                width: 15rem
                background-color: $white
                box-shadow: rgba(0, 0, 0, 15%) 0px 5px 1px


                .sensor-quantity-card
                    font-size: 2.5rem
                    font-weight: 400
                    color: $blue

.loader
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0

.loader-overlay
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background-color: rgba(0, 0, 0, 0.4) // escurece a tela com transparência
  z-index: 9999
  display: flex
  align-items: center
  justify-content: center


.jimu-primary-loading
  &:before,
  &:after
    position: absolute
    top: 0
    content: ''

  &:before
    left: -19.992px

  &:after
    left: 19.992px
    -webkit-animation-delay: 0.32s !important
    animation-delay: 0.32s !important

  &:before,
  &:after,
  & 
    background: #ffffff
    -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out
    animation: loading-keys-app-loading 0.8s infinite ease-in-out
    width: 13.6px
    height: 32px

  text-indent: -9999em
  margin: auto
  position: absolute
  right: calc(50% - 6.8px)
  top: calc(50% - 16px)
  -webkit-animation-delay: 0.16s !important
  animation-delay: 0.16s !important

@-webkit-keyframes loading-keys-app-loading
  0%, 80%, 100%
    opacity: .75
    box-shadow: 0 0 #ffffff
    height: 32px

  40%
    opacity: 1
    box-shadow: 0 -8px #ffffff
    height: 40px

@keyframes loading-keys-app-loading
  0%, 80%, 100%
    opacity: .75
    box-shadow: 0 0 #ffffff
    height: 32px

  40%
    opacity: 1
    box-shadow: 0 -8px #ffffff
    height: 40px
