@import '../../../src/_var'

.main-login
  background-color: $blue
  display: flex
  flex-direction: row
  height: 100vh
  justify-content: center
  align-items: center

  .container-form
    display: flex
    flex-direction: column
    gap: 1rem
    width: 50%
    background-color: $background
    height: 100%
    display: flex
    justify-content: center
    align-items: center

    .form
      display: flex
      flex-direction: column
      align-items: center

      .button
        position: relative
        transition: all 0.3s ease-in-out
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2)
        padding: 0.4rem
        background-color: #042D51
        display: flex
        align-items: center
        justify-content: center
        color: #fff
        gap: 10px
        font-weight: bold
        border: 3px solid #1A4265
        outline: none
        overflow: hidden
        font-size: 15px
        cursor: pointer

        .icon
          width: 24px
          height: 24px
          transition: all 0.3s ease-in-out

        &:hover
          transform: scale(1.05)
          border-color: #fff9

          .icon
            transform: translate(4px)

          &::before
            animation: shine 1.5s ease-out infinite

      .button::before
        content: ""
        position: absolute
        width: 100px
        height: 100%
        background-image: linear-gradient(
          120deg,
          rgba(255, 255, 255, 0) 30%,
          rgba(255, 255, 255, 0.8),
          rgba(255, 255, 255, 0) 70%
        )
        top: 0
        left: -100px
        opacity: 0.6

      @keyframes shine
        0%
          left: -100px
        60%
          left: 100%
        100%
          left: 100%

  .container-img
    width: 50%
    display: flex
    justify-content: center

  .input-error-container
    display: flex
    flex-direction: column
    gap: 1rem
    width: 15rem
    padding: 1rem
    align-items: center

    .label
      font-size: 1.1rem

    .error-container-input
      outline: none
      border: none
      padding: 0.5rem 0.8rem
      border-bottom: 2px solid red

    .error-container
      width: 11rem

      .error-span
        color: red
        font-weight: bold

    .input_text
      padding: 0.5rem 0.9rem
      border: none
      outline: none
